/*-------------------STYLE GÉNÉRAL---------------------------------*/
body {
    background-color: #f8f9fa;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* --------------------LES CARDS--------------------------*/
.card {
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    margin-left: 10px;
}

.btn-square {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 12px;    
    transition: all 0.2s ease;
    background-color: #0c6d21; 
}

.btn-square:hover {
    transform: scale(1.1); 
    background-color: #0b631e;
}

.price-tag {
    font-size: 1.25rem; 
    color: #155596;    
    font-weight: 650; 
    margin-left: 10px;  
    letter-spacing: -0.5px; 
}

.text-muted{
    margin-left: 10px;
}

.game-card {
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2) !important;
}

.card-img-top {
    height: 320px;
    object-fit: fill;
    object-position: top center;
    width: 100%;
}


.add-to-cart-btn {
    z-index: 2;
    position: relative;
    transition: transform 0.2s;
}

.add-to-cart-btn:active {
    transform: scale(0.95);
}

/*-------------------MODALES--------------------------*/

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
}

#modal-img {
    height: 500px;
    width: 100%;
    object-fit: fill;
    background-color: #f0f0f0;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    #modal-img {
        height: 300px;
    }
}

.category-pills .btn {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
}

/*-------------------FOOTER--------------------------*/


footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0d6efd !important;
    padding-left: 5px;
}

.social-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #0d6efd !important;
}